lastupdate.tmp
.vscode/
planeacion_mid
go.mod
go.sum
main
.scannerwork/
swagger/*.png
swagger/*.html
swagger/*.js
swagger/*.map
swagger/*.css
swagger/css/
swagger/fonts/
swagger/images/
swagger/lang/
swagger/lib/
planeacion_mid

