lastupdate.tmp
.vscode/
planes_mid
go.mod
go.sum
main
.scannerwork/
swagger/*.png
swagger/*.html
swagger/*.js
swagger/*.map
swagger/*.css
swagger/*.yml
swagger/css/
swagger/fonts/
swagger/images/
swagger/lang/
swagger/lib/
sga_mid.exe

